.NotFoundContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.NotFound {
    text-align: center;
    max-width: 400px;
    min-height: 400px;
    margin: 0 auto;
}
