.mt-admin {
  &__container {
    display: flex;
    justify-content: flex-start;
    background-color: $color-primary-dark;
    flex-wrap: wrap;

    div {
      background-color: $color-primary-light;
      margin: 5px;
      padding: 5px;
      text-transform: uppercase;
    }
  }
}

.mt-roles {
  &-users {
    &__container {
      margin-top: 50px;
      border-top: 2px solid;
      height: 400px;
      overflow-y: scroll;
    }
  }
}

.mt-articles-admin {
  &__container {
    background-color: darken($color-primary-light, 10);
    padding: 15px;
  }
  &__item {
    background-color: $color-primary-light;
    margin-bottom: 15px;

    &:hover {
      box-shadow: 0 0 15px silver;
    }

    &-header {
      background-color: $color-primary;
      color: $color-primary-light;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
    }

    &-content {
      padding: 10px;
    }

    &-action {
      padding: 0 10px;
    }
  }
}
