.public-article {
  margin-bottom: $default-margin * 2;

  transition: all 0.3s ease;
  background-color: lighten(
    $color-primary-dark,
    5%
  ); //mix($color-primary-dark, $color-primary-light, 91%);

  @media (min-width: $tablet-size) {
    display: flex;
    margin-right: $default-margin * 2;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    @include isPhone("font-size", $font-article-title-phone, $font-article-title);
    line-height: 100%;
    cursor: pointer;
    overflow: hidden;
  }

  h2 {
    @include isPhone("font-size", $font-article-title2-phone, $font-article-title2);
    color: rgba($color-primary-light, 0.7);
    line-height: 100%;
    text-decoration: none;
    cursor: pointer;
  }

  &__content {
    &-container {
      padding: $default-spacing;
      @media (min-width: $tablet-size) {
        width: 70%;
      }
    }
  }

  &__author {
    &-container {
      background-color: lighten($color-primary-dark, 10%);

      padding: $default-spacing;

      @media (min-width: $tablet-size) {
        width: 30%;
      }
    }

    &-row {
      margin: $default-spacing 0;
    }

    &-info {
      margin-top: $default-spacing;
    }

    &-label {
      text-transform: upppercase;
      font-size: 0.6em;
      color: lighten($color-primary-dark, 20%);
    }

    &-name {
      color: lighten($color-primary-dark, 35%);
      font-size: 1.2em;
      font-family: $font-body;
    }

    &-publication-date {
      color: lighten($color-primary-dark, 35%);
    }
  }
}

.edit-article {
  background-color: transparent;
  h1,
  h2,
  a {
    color: $color-secondary;
  }
}

.article {
  max-width: 600px;
  margin: 0 auto;

  h1 {
    @include header-defaults;
    font-family: $font-section-header-1;
    font-size: $font-article-title;
    letter-spacing: -2px;
    font-weight: 600;

    /**
     * Screen has maximum width of 768px
     * @type {[type]}
     */
    @media (max-width: $screen-size-medium) {
      font-size: ($font-article-title * 0.7);
    }

    @media (max-width: $screen-size-small) {
      font-size: ($font-article-title * 0.5);
    }
  }

  h2 {
    @include header-defaults;
    font-size: ($font-article-title * 0.75);
    font-weight: 100;
    letter-spacing: -2px;
    cursor: pointer;

    @media (max-width: $screen-size-medium) {
      font-size: ($font-article-title * 0.5);
    }

    @media (max-width: $screen-size-small) {
      font-size: ($font-article-title * 0.4);
    }
  }

  &-item {
    &__header-container {
      background-color: $color-primary-dark;
      margin-bottom: $default-spacing;

      h1,
      h2 {
        color: $color-primary-light;
      }
    }
  }

  &-paragraph {
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.65;
    letter-spacing: -0.38px;
    font-family: $font-body; //-apple-system-body;
    cursor: pointer;
    font-feature-settings: "liga";
    overflow: break-word;
    text-rendering: optimizeLegibility;
    font-smoothing: grayscale;

    a {
      border-bottom: 2px solid $color-primary-dark;

      &:hover {
        text-decoration: none;
      }
    }

    img {
      max-width: 100%;
    }

    * {
      color: $color-primary-light;
      font-weight: normal;
    }
  }

  &-author {
    text-transform: uppercase;
    border-top: 1px solid $color-primary-dark;
    margin-bottom: $default-margin * 5;
    text-align: right;
    font-size: 0.8em;
  }

  &-edit {
    &-form {
      padding: $default-padding 0;

      &__row {
        display: flex;
        margin-bottom: $default-spacing;

        label {
          text-transform: uppercase;
          color: $color-primary;
          font-size: 0.8em;
          margin-bottom: $default-spacing;
        }

        textarea {
          width: 100%;
        }
      }

      &__cell {
        width: 50%;
      }

      &__save {
        @extend .mt-shared__button-primary;
      }

      &__button-row {
        margin-top: $default-spacing;
        text-align: center;

        &-top {
          display: flex;
          margin: $default-spacing;
          button {
            width: 50%;
          }
        }
      }

      &__language-select {
        select {
          border: none;
        }

        border-bottom: 1px solid;
      }
    }
  }
}

/**
 * The mini articles shown on /front-page
 */
.mt-articles-mini {
  &__wrapper {
    margin: 40px 0;
  }

  &__header {
    text-align: left;
    padding: $default-spacing /2 $default-spacing;
    border-bottom: 1px solid $color-primary;
  }

  &__title {
    border-bottom: 1px solid $color-primary-dark;
    text-transform: uppercase;
    font-size: 0.8em;
  }

  &__item-container {
    @media (min-width: $tablet-size) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: $default-margin 0;
    }
  }
}

.mt-articles {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__header {
    background-color: $color-primary-dark;
    color: $color-primary-light;
    text-align: center;
    margin-bottom: $default-margin;
    padding: $default-padding;

    &-container {
      display: flex;
    }

    &-item-1 {
      width: 50%;
      border-right: 1px solid $color-primary;
    }

    &-item-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
    }

    h1 {
      color: $color-primary-light;
    }
  }

  &__card-container {
    @media (min-width: $tablet-size) {
      width: 49%;
      margin-right: 1%;
    }
    margin-bottom: $default-spacing;
  }

  &__list {
    padding-top: $default-padding;
    padding-left: 4px; // visual
  }

  &__main {
    flex-grow: 2 1 auto;
  }

  &__sidebar {
    @media (min-width: $tablet-size) {
      max-width: 30vw;
    }
    flex-grow: 1 auto auto;
    p {
      font-weight: 100;
    }
  }
}

.mt-article-private {
  text-align: left;
  height: $document-height;
  width: $document-width;
  vertical-align: top;
  display: inline-block;
  position: relative;

  padding-right: $document-padding;
  margin-right: $document-padding * 5;

  h4 {
    font-weight: 600;
    font-size: 1em;
    color: $color-primary;
  }

  h5 {
    font-weight: 100;
    color: lighten($color-primary, 10%);
  }

  .article-info {
    border-top: 1px solid $color-primary-dark;
    margin-top: $default-margin;

    .mt-label {
      text-transform: uppercase;
      font-size: 0.7em;
      margin-right: 10px;
    }
  }
}

.mt-tag {
  cursor: pointer;
  background-color: $color-primary-dark;
  border-radius: 0;
  border: 1px solid $color-primary-light;
  padding: $default-padding /4;
  text-transform: uppercase;
  color: $color-primary-light;
  font-size: $font-size-small1;
}

/**
 * The info tag used on articles page
 * to indicate what language the user
 * can select
 * @type {[type]}
 */
.mt-info {
  font-size: 12px;
  font-family: $font-stack;
  font-weight: 100;
  letter-spacing: 0.2em;
  vertical-align: top;
  font-style: italic;
  border-bottom: 1px solid $color-primary-dark;
  margin-left: 0.5em;
  text-transform: uppercase;
}

.mt-new-article {
  &__container {
    border: 1px solid $color-primary-light;
    padding: $default-padding;

    @media (min-width: $tablet-size) {
      width: 75%;
      margin: 0 auto;
    }
  }

  &__textarea {
    margin: $default-spacing 0;

    label {
      text-transform: uppercase;
      font-size: 0.6em;
    }

    textarea {
      width: 100%;
      height: $default-spacing * 1.5;
      font-size: 1.2em;
      outline: none;
      color: $color-primary-light;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $color-primary-light;
    }
  }
}
