.mt-author {
    font-size: $font-article-title;
    min-width: 35%;
    font-family: $font-main-header;

    @media (min-width: $tablet-size) {
        background-color: $color-primary-light;
        color: $color-primary-dark;
        padding: 0 $default-spacing;
    }

    label {
        color: $color-primary-dark;
        font-size: $font-size-small;
        font-family: $font-label;
    }

    &__note {
        font-size: $default-font-size;
        margin-top: $default-spacing;
        font-family: $font-section-header-1;
    }
}
