.mt-books {
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        // grid-auto-rows: 450px;
        padding-top: $default-spacing;
        @media (min-width: $phone-size) {
            grid-template-columns: repeat(1, 1fr);
        }
        @media (min-width: $tablet-size) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: $desktop-size) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    &__header {
        text-align: center;
    }

    &__intro {
        h1,
        h2 {
            margin-top: 0;
        }

        h1 {
            font-family: $font-main-header;
            margin: 0;
        }
    }
}
