.chapter-item {
  vertical-align: top;
  overflow:hidden;
  margin: $default-margin;
  margin-left: 0;
  padding: $default-spacing;
  color: $color-primary-light;
  border: 1px solid $color-primary;
  width: 100%;

  @media (min-width: $tablet-size) {
    width: 30%;
  }

  &-container {
    margin-bottom: ($default-padding * 2);
  }

  &__new {
    border-style: dashed;
  }

  &-content {
    &-info {
      display: flex;
      flex-direction: column;
      align-content: space-around;
      color: $color-primary-light;
      text-decoration: none;

      &__title {
        display: inline-block;
        height: 100px;
        overflow: hidden;
      }

      &__stat {
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        padding-top: 3%;
        font-size: 0.8em;

        span {
          font-weight: normal;
        }
      }
    }
  }

  h2 {
    font-weight: bold;
    text-align: left;
  }

  h3, h4, h5, h6 {
    text-align: left;
  }

  .chapter-language-container {
    margin: 0 15px;
  }

  .chapter-action-container {
    position: absolute;
    right: 0px;
  }

  .settings-container {
    margin-top: $default-spacing;
    text-align: center;
    vertical-align: bottom;
  }
}

.chapter {
  &-title {
    padding-bottom: $default-padding;


    &__main {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__text {
      display: inline-block;
      width: 70%;

      h1 {
        margin-top: 0;
      }

      @media (max-width: 600px) {
        width: 100%;
      }
    }

    &__details {
      padding-top: $default-spacing;
      margin-bottom: $default-spacing;
      width: 100%;
      text-align: center;
      border-top: 1px solid $color-primary;
      @media(min-width:$tablet-size) {
        border-left: 1px solid $color-primary;
        border-top: 0;
        width: 30%;
      }
    }

    h1 {
      font-size: $font-article-title;
      color: $color-primary-light;
    }

    h2 {
      color: darken($color-primary-light, 10%);
    }


    .document-description {

      &__container {
        display: flex;
        align-content: space-between;
        color: darken($color-primary-light, 25%);


        & > div {
            width: 50%;
          }

      }

      font-size: 0.8em;
      font-style: italic;
      margin-top: 1em;

      small {
        display: block;
        font-size: 1em;
        font-style: normal;
        margin-top: 0.5em;
        text-align: right;
      }
    }

    .chapter-action {
      &__bar {
        margin-top: $default-spacing * 2;
        height: $default-spacing * 2;
        display: flex;
        justify-content: right;
        align-items: center;
        text-transform: uppercase;
        color: $color-primary;

        a {
          text-decoration: none;
          color: $color-primary;
          font-size: 0.75em;
          margin-right: $default-spacing;
        }

      }
    }
  }

  &-counter {
    display: flex;
    justify-content: space-around;
    margin-top: $default-spacing;
    text-align: center;
    vertical-align: top;
    color: $color-primary-light;

    @media (max-width: 600px) {
      width: 100%;
      text-align: center;
      margin: $default-margin 0;
    }
  }

  &-info {
    display: flex;
    align-content: space-between;
    color: darken($color-primary-light, 25%);

    div {
      width: 50%;
    }
  }

  &-settings {
    margin-top: $default-spacing;
    text-align: right;

    .btn-icon {
      padding: 0;
      margin-left: $default-margin;
    }

    .btn {
      color: $color-primary-light;
    }

    .open {
      a { color: $color-primary-dark; }
    }
  }

  &-list {
    &__container {
      background-color: $color-primary-dark;
      padding: $default-padding 0;
    }

    &__items-container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-edit {

    &__container {
      @media(min-width: $tablet-size) {
        max-width: 500px;
        border: 1px solid $color-primary-light;
        padding: $default-spacing * 2;
        margin: 0 auto;
      }
    }

    &__title {
      font-size: $font-article-title;
      font-family: $font-main-header;
    }

    &__inner-container {
      margin-top: $default-spacing * 5;
    }

    &__action-bar {
      margin-top: $default-spacing;

      button:first-child {
        width: 100%;
      }

      &-sub {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: $default-spacing 0;

        div {
          width: 50%;
          text-align: center;
        }
      }
    }

    &__textarea {
      &-container {
        margin: $default-spacing *2 0;
      }
      width: 100%;
      display: block;
    }

  }
}

.mt-chapter-intro {
  text-align: center;

  &__action {
    display: flex;
    justify-content: center;
  }
}
