.mt-collections {
    &__container {
        margin: $default-spacing / 2 0;
        display: flex;
        overflow: hidden;
        overflow-x: scroll;
        z-index: 1;
        // border: 1px solid $color-divider-1;
        // box-shadow: inset $default-shadow;
        padding: $default-spacing / 2 0;
        // border-radius: 3px;

        &--fixed {
            position: fixed;
            width: calc(100% - 40px);
            display: flex;
            overflow: hidden;
            overflow-x: scroll;
            top: 40px;
            left: $default-spacing;
            padding: 0;
            background-color: $color-primary-dark;
            z-index: 1;
        }
    }

    label {
        color: $color-primary;
        font-size: $font-size-extra-small;
    }

    &__filter {
        color: $color-primary;
        font-family: $font-main-header;
        font-weight: 600;
        margin-left: $default-spacing;
    }

    &__button {
        background-color: $color-primary-dark-contrast;
        border: 0;
        outline: none;
    }

    &__link {
        button {
            border: none;
            border-radius: 3px;
            margin-right: $default-spacing / 2;
            padding-right: $default-padding;
            background-color: $color-secondary;
            color: $color-primary-dark;
            box-shadow: $default-shadow;
            padding: $default-spacing / 2 $default-spacing;
        }
        &--active {
            button {
                border: none;
                outline: none;
                background-color: $color-accent;
                color: $color-secondary;
                // background-color: $color-accent-contrast-light;
                border-radius: 3px;
            }
        }
    }
}
