// New Colors structure

$color-primary: #424242; // #2d2d2d;
// $color-primary-dark: #1a1a1a;
$color-primary-dark: #212121; //#2d2d2d; // #010101; // #32323f; // black rock // ;
$color-primary-light: #e2ebf3;
$color-primary-light-contrast: darken($color-primary-light, 2%);
$color-primary-dark-contrast: lighten($color-primary-dark, 5%);

$color-secondary: #fefefe;
$color-secondary-dark: #333333;
$color-secondary-light: #9b9b9b;

$color-accent: #26a65b; // green; //  #ff6347;
$color-accent-dark: darken($color-accent, 10%);
$color-accent-light: lighten($color-accent, 10%);
$color-accent-contrast-light: #fefefe;
$color-accent-contrast-dark: #3c3c3c;

$color-accent-2: #ff5722;
$color-purple: #34325e;

$color-shadow-primary: #dbdbdb; // #4a90e2;
$color-shadow-primary-light: rgba($color-shadow-primary, 0.5);

$color-background: #eee;

// --- activities
$color-warning: orange;
$color-alert: red;

// not sure about this
$color-divider-1: rgba(192, 192, 192, 0.45);

$color-background-1: #f6f4f1;
