/* Dashboard formatting */

.dashboard {
  text-align: center;
  h1 {
    font-weight: 800;

    span {
      font-size: 0.5em;
      font-weight: 400;
      display: inline;
    }
  }

  h6 {
    text-transform: uppercase;
  }

  &-contrast {
    &__container {
      background-color: $color-primary-light;
      color: $color-primary-dark;
      text-decoration: none;
      padding: $default-spacing;
    }

    &__number {
      font-size: $font-article-title;
      color: $color-primary-dark;
      text-align: center;
      font-weight: 600;
    }

    &__text {
      text-transform: uppercase;
      text-align: center;
      color: $color-primary;
      font-size: 0.8em;
      margin-top: $default-spacing;
    }
  }
}

.textInfoItem {
  @extend .dashboard;
  text-align: left;

  small {
    display: block;
    margin-top: 10%;
    text-transform: uppercase;
  }

  p {
    text-align: left;
  }
}

.number-stat {
  font-weight: bold;
}

.stat-item {
  text-align: center;
  text-decoration: none;

  &__container {
    text-decoration: none;
  }

  &__number {
    font-size: $font-article-title;
    font-weight: 800;
  }

  &__total {
    font-size: 0.75em;
    font-weight: 100;
  }

  &__text {
    text-transform: uppercase;
    font-size: 0.75em;
  }
}
