html,
body {
    background-color: $color-background;
    font-size: $default-font-size;
    color: $color-primary-dark;
    padding: 0;
    margin: 0;
    font-family: $font-family-heading;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.navbar-fixed-top {
    border-bottom: 1px solid lighten($color-primary, 60);
    font-size: $font-size-header1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-primary-dark;
    font-family: $font-section-header-1;

    &.section-header {
        font-family: $font-section-header-1;
        font-weight: 600;
    }
}

h1 {
    font-size: $font-article-title;
    font-weight: 600;
}

h2 {
    font-size: $font-article-title2;
    font-weight: 300;
}

p {
    font-family: $font-body;
    font-weight: 400;
    font-size: $font-body-size;
    color: $color-primary-dark;
}

a {
    color: $color-primary;
    text-decoration: underline;

    i {
        color: $color-primary;
    }
}

div {
    box-sizing: border-box;
}

input {
    outline: none;
    font-size: $default-font-size;
    background-color: transparent;
    border: none;
}

button,
.button,
.btn {
    padding: $default-padding/2.5 $default-padding;
    font-size: $default-font-size * 0.75;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $color-secondary-dark;
    border: 0px solid $color-primary;
    color: $color-secondary-light;
    border-radius: 2px;

    &:hover {
        cursor: pointer;
    }

    &.btn-icon {
        background-color: transparent;
        padding: 0;
    }
}

select {
    border-bottom: 1px solid $color-primary-light;
    border-radius: 0;
    font-size: $default-font-size;
    color: $color-primary-light;
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
}

option {
    color: $color-primary-dark;
}

textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-primary-light;
    color: $color-primary-light;
    font-size: $default-font-size;
}

label {
    text-transform: uppercase;
    font-size: 0.8em;
    color: $color-primary;
}

hr {
    border: none;
    border-top: 1px solid $color-primary;
}
