.document-list {
    &__header {
        background-color: $color-primary-dark;
        margin-bottom: $default-margin;
        padding: $default-spacing;

        @media (min-width: $tablet-size) {
            display: flex;
        }

        h1 {
            color: $color-primary-light;
        }

        &-item {
            @media (min-width: $tablet-size) {
                width: 50%;
            }
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__container {
        padding-top: $default-padding;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.document {
    display: inline-block;
    position: relative;
    width: $document-width;
    height: $document-height;
    vertical-align: top;
    text-align: left;
    margin-bottom: 15px;
    padding-right: $document-padding;
    margin-right: $document-padding * 5;

    .document-header {
        ::first-letter {
            text-transform: capitalize;
        }
        overflow: hidden;
        border-bottom: 1px solid $color-primary;

        h3,
        h4,
        h5,
        h6 {
            text-align: left;
        }

        h4 {
            font-weight: 600;
            font-size: 1em;
            color: $color-primary;
            overflow: hidden;
        }
    }

    .document-info {
        margin: $document-margin 0;
        overflow: hidden;
        // the first div is the author's name
        // If the name value is long, it should be clipped here
        div {
            overflow: hidden;
            color: $color-primary;
            font-style: italic;
            font-size: 0.65em;
            // padding: $document-padding;
        }

        .document-language {
            font-size: 0.6rem;
            color: $color-primary;
            text-transform: uppercase;
        }
    }

    .book-action-button {
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        color: $color-primary-dark;
    }

    &-edit {
        margin-bottom: $default-spacing * 3;
        margin: $default-spacing;

        &__header {
            background-color: $color-primary-dark;
            color: $color-primary-light;
            margin-bottom: $default-padding * 2;

            h1,
            h2 {
                color: $color-primary-light;
            }

            .btn {
                color: $color-primary-light;
            }
        }

        &__images-container {
            display: flex;

            div {
                width: 50%;
            }
        }

        &__publish-container {
            display: flex;
            justify-content: flex-end;
        }
    }

    &-new {
        margin-bottom: $default-spacing;

        &__select {
            &-container {
                display: flex;
                margin-bottom: $default-spacing;
                label {
                    display: inline-flex;
                    width: 300px;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    color: $color-primary-light;
                    align-items: flex-end;
                }

                @media (min-width: $tablet-size) {
                    display: flex;
                }
            }
        }
    }
}
/* Used to show and style the publid documents */
.public-document {
    @extend .document;
    background-size: cover;
    height: $document-height-small;
    width: $document-width-small;
    border: none;
}

.mt-stories-mini {
    &__wrapper {
        margin: 40px 0;
    }

    &__item-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: $default-margin 0;
    }

    &__title {
        border-bottom: 1px solid $color-primary-dark;
        text-transform: uppercase;
        font-size: 0.8em;
        margin-bottom: $default-margin;
    }
}

.mt-new-document {
    &__action {
        &-bar {
            padding: $default-spacing;
            @media (min-width: $tablet-size) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row-reverse;
            }
        }

        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: $default-spacing;
            @media (min-width: $tablet-size) {
                width: 50%;
            }
        }
    }
}

.mt-options {
    &__container {
        margin: $default-spacing 0;

        @media (min-width: $tablet-size) {
            max-width: $tablet-size;
            margin: 0 auto;
        }
    }

    &__fieldset {
        border-color: $color-primary;
        margin: $default-spacing 0;

        legend {
            text-transform: uppercase;
            font-size: 0.5em;
            color: $color-primary;
            padding: $default-spacing;
            text-align: right;
            padding-top: 0;
            padding-bottom: 0;

            &[data-position="top"] {
                text-align: center;
            }
        }

        &[data-position="top"] {
            border: none;
            border-top: 1px solid $color-primary;
            display: inline-block;
            padding: $default-spacing 0 0;
            margin: 0;

            legend {
                padding: 0;
            }
        }
    }

    &__article {
        &-container {
            display: flex;
            justify-content: center;

            .public-article {
                margin: 0;
            }
        }
    }

    &__statistics {
        &-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: $default-spacing 0;

            .dashboard-contrast__container {
                border: 1px solid $color-primary-dark;
                min-width: 15%;
            }
        }
    }

    &__description {
        &-container {
            display: flex;
            justify-content: space-between;
        }
        &-cell {
            &:first-child {
                width: 65%;
            }
            &:last-child {
                width: 30%;
            }
        }

        &-text {
            padding-top: $default-spacing;
            color: $color-primary;
        }

        &-label {
            font-size: 0.65em;
        }
    }
}
