// Font Import
@import url("https://fonts.googleapis.com/css?family=Roboto:400,900|Material+Icons&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");

@font-face {
    font-family: "Roboto";
    font-display: "fallback";
    src: local("Roboto"), url("https://fonts.googleapis.com/css?family=Roboto");
}

@font-face {
    font-family: "Material Icons";
    font-display: "fallback";
    src: local("Material Icons"),
        url("https://fonts.googleapis.com/icon?family=Material+Icons");
}

$font-stack: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;

$font-body: "Roboto", "Georgia", "serif";
$font-body-size: 18px;

$font-main-header: "Roboto", "Georgia", "serif";
$font-section-header-1: "Roboto", "Helvetica", "sans-serif";
$font-label: "Roboto", "sans-serif";

$font-size-header1: 1.2rem;
$font-size-header2: 1.1rem;
$font-size-small1: 0.8rem;
$font-size-extra-small: 14px;

/**
 * Public article sizes
 */

$default-font-size: 24px;
$font-default-size: $default-font-size;
$font-size-default: $default-font-size;
$font-size-small: 14px;
$font-article-title: 48px;
$font-article-title2: 32px;
$font-article-title-phone: $font-article-title * 0.75;
$font-article-title2-phone: $font-article-title2 * 0.75;
$font-size-x-large: 48px;
$font-size-large: 32px;

/* font families */
$font-family-heading: "Roboto", "Helvetica", "sans-serif";
$font-family-body: "Roboto slab", "Georgia", "serif";
