.mt-footer {
    display: block;
    text-align: center;
    margin-top: $default-spacing;
    padding-top: $default-spacing;
    border-top: 1px solid $color-divider-1;

    &__links-container {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 500px) {
            display: inline-block;
            padding-left: $default-padding;
        }
    }

    &__item {
        list-style: none;

        &-link {
            text-transform: uppercase;
            color: $color-primary;
            font-size: 14px;

            &:hover {
                text-decoration: none;
                color: $color-primary-light;
            }
        }
    }

    &-copyright {
        text-align: center;
        font-size: $font-size-small;
        color: $color-secondary-light;
    }
}
