.mt-frontpage {
  padding: $default-padding * 2 $default-padding;
  box-shadow: 0 0 1px darken($color-primary-light, 50%);
  border-radius: 10px;


  &__header {

    @media (min-width: $tablet-size) {
      display: flex;
      justify-content: space-around;
      margin-bottom: $default-margin;
      
    }


    &-stat-item {
      color: $color-primary-light;
      text-align: center;
      margin: $default-spacing;
    }
  }

  &__actions {
    display: block;
    @media(min-width: $tablet-size) {
      display: flex;
    }

    padding: $default-padding *2 $default-padding;
    text-align: center;
    justify-content: center;
  }

  &__intro {
    &-container {

      margin: $default-margin;

      @media (min-width: 700px) {
        max-width: 50%;
        margin-left: 25%;
      }
      text-align: left;
    }
  }
}
