@import "./colors";
@import "./fonts";
@import "./variables";

.mt-layout {
    &__header {
        height: 3 * $default-spacing;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    &__content {
        height: 100%;
        height: 100vh;
        overflow: visible;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: -1000;

        &-inner {
            padding: (4 * $default-spacing) ($default-spacing)
                (3 * $default-spacing);
            overflow-x: hidden;
            height: 100%;
            width: 100%;
        }
    }
}

.mt-login-layout {
    &__container {
        margin: $default-spacing;
    }
}
