@import 'mdlselect';

a {
  color: $color-primary;

  &:hover {
    color: lighten($color-primary, 10%);
  }
}

.dropdown-menu li a:hover {
  color: darken($color-primary, 50%);
}

.form-group .control-label {
  color: rgba(0,0,0, 0.2);
  font-weight: 100;
  text-transform: uppercase;
  font-size: 0.8em;
  padding-top: 3px;
}

// .form-group.label-static label.control-label,
// .form-group.label-floating.is-focused label.control-label,
// .form-group.label-floating:not(.is-empty) label.control-label {
//   padding-left: 15px;
// }

.form-group {
  &.col-md-6, &.col-md-12 {
    label {
      padding-left: 15px;
    }
  }
}


// buttons
.btn {

  border: 1px solid $color-primary;

  &.btn-default {
    color: $color-primary;
  }

  &:not(.btn-raised).btn-primary {
    color: $color-primary-light;
    background-color: $color-primary-dark;

    &:hover {
      color: darken($color-primary-light, 10%);
      background-color: darken($color-primary, 10%);
      border-color: transparent;
    }
  }

  &.btn-raised, &.btn-icon { border: none; }
}

// labels
.label {
  &.label-primary {
    background-color: $color-primary;
  }
}

.form-group.is-focused label,
.form-group.is-focused label.control-label {
  color: $color-primary;
}


.btn-link {
  color: $color-primary-light;
  transition: all 0.5s ease;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $color-primary-dark;
  }
}

/**
 * Override the standard teal color that comes with the fez etc bootstrap thingy
 * Not sure if this first block is needed but the one after that
 * is the one that really solves the issue
 */
.form-control,
.form-group .form-control {
  border: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from($color-primary-dark), to($color-primary-dark)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient($color-primary-dark, $color-primary-dark), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient($color-primary-dark, $color-primary-dark), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient($color-primary-dark, $color-primary-dark), linear-gradient(#D2D2D2, #D2D2D2);
  -webkit-background-size: 0 2px, 100% 1px;
          background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center -webkit-calc(100% - 1px);
  background-position: center bottom, center calc(100% - 1px);
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: background 0s ease-out;
       -o-transition: background 0s ease-out;
          transition: background 0s ease-out;
  float: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

/**
 * Solves the issue of the animated bar under form elements
 */
.form-group.is-focused .form-control {
  outline: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from($color-primary-dark), to($color-primary-dark)), -webkit-gradient(linear, left top, left bottom, from(#D2D2D2), to(#D2D2D2));
  background-image: -webkit-linear-gradient($color-primary-dark, $color-primary-dark), -webkit-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: -o-linear-gradient($color-primary-dark, $color-primary-dark), -o-linear-gradient(#D2D2D2, #D2D2D2);
  background-image: linear-gradient($color-primary-dark, $color-primary-dark), linear-gradient(#D2D2D2, #D2D2D2);
  -webkit-background-size: 100% 2px, 100% 1px;
          background-size: 100% 2px, 100% 1px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

/*
  Google Material design / bootstrap updates for navbar
*/

.navbar {
  background-color: $color-primary-dark;
  color: $color-primary-light;
  .navbar-brand {
    font-family: 'lobster', cursive;
    text-transform: capitalize;
    font-size: 22px;

    sup {
      font-family: $font-stack;
      text-transform: uppercase;
      font-size: 0.5em;
      top: -1.3em;
    }
  }

  a, input {
    text-transform: uppercase;
    font-size: 12px;
  }
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
