/* Hide label */
.mdl-selectfield label {
  display: none;
}
/* Use custom arrow */
.mdl-selectfield select {
  appearance: none;
}
.mdl-selectfield {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  position: relative;
  &:after {
    position: absolute;
    top: 0.75em;
    right: 0.5em;
    /* Styling the down arrow */
    width: 0;
    height: 0;
    padding: 0;
    content: "";
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    pointer-events: none;
  }
}
