
@mixin header-defaults {
  word-break: break-word;
  cursor:pointer;
  transition: all .5s ease;
  line-height: 100%;
  overflow-x: scroll; // long words might need scrolling
}

@mixin label {
  border: 1px solid $color-primary-light;
  color: $color-primary-light;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 0.5em;
  padding: 6px 12px;
  border-radius: 365px;
}

@mixin isPhone($value, $a , $b) {
  @media (max-width: $phone-size) {
    $value: $a;
  }
  $value: $b;
}
