.mt-navigation {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 $default-spacing 0;
        background-color: transparentize($color-background, 0.05);

        & > div {
            flex-grow:1;
            flex-shrink: 0;
            flex-basis: 0;
            border: 1px solid transparent;
        }

        .material-icons {
            color: $color-secondary-dark;
        }

        svg {
            color: $color-secondary-dark; 
            g {
                fill: $color-secondary-dark;
            }
        }

    }
    &__nav {
        display: flex;
        flex-flow: row;
        justify-content: left;
        ul {
            display: block;
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                display: inline-block;
                margin-right: $default-spacing;
            }

            li:first-child {
                a:first-child.home-icon {
                    position: relative;
                    top: 4px; /* Keep home icon on the same line as the text */
                }
            }
        }

        a {
            border-radius: 30px;
            text-transform: uppercase;
            font-size: 0.65em;
            font-weight: 400;
            height: 44px;
            display: inline-block;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }

        &--accent {
            margin-left: $default-spacing;
            display: inline-block;
        }

        &--active {
            color: $color-accent;
        }
    }

    &__logo-container {
        // position:absolute;
        // left:0;
        // right:0;
        text-align: center;
        z-index:0;
    }

    &__actions {
        width: 100%;
        &-container {

            display: flex;
        align-items: center;
        align-content: space-between;
        z-index:2;
        width: 100%;

        }

        a {
            text-decoration: none;
            i {
                color: $color-primary-light;
            }
        }

        button {
            padding: 0;
            background-color: transparent;
            color: $color-primary-light;
            outline: none;
        }
    }

    &__context-buttons {
        text-align: right;

        i {
            color: $color-primary-light;
        }

        a:not(:last-child) {
            margin-right: $default-spacing;
        }

        button {
            background-color: transparent;
        }
    }
}

.mt-nav__item {
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 0.65em;
    color: $color-primary-light;
    font-weight: 400;
    height: 44px;
    display: inline-block;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
