.mt-paragraphs {
  &__header {
    display: flex;
  }
}

/* Text Areas in paragraph list mode */
.paragraph-list {
  &__head {
    &-1 {
      border-bottom: 1px solid $color-primary;
      div {
        margin-bottom: $default-spacing;
      }
      @media (min-width: $tablet-size) {
        display: flex;
        align-items: center;
        justify-content: center;

        div {
          margin-right: $default-spacing;
        }
      }
    }
  }

  &__row-container {
    vertical-align: top;
    margin: 20px 0;
    transition: background-color 0.3s ease-in;
  }

  &__button-container {
    margin: $default-spacing 0;

    @media (min-width: $tablet-size) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    * {
      margin-bottom: $default-spacing;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    letter-spacing: 0.45px;
    line-height: 1.6;
    font-size: 18px;
    font-family: "Noto Serif";

    &-menu {
      border-bottom: 1px solid $color-primary;
      height: $default-spacing * 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $default-spacing;

      input.list-t,
      label.list-t {
        border: none;
        font-size: ($font-body-size);
        color: rgba($color-primary-light, 0.5);
        padding: 7px;
        border-radius: 10px;
      }
    }

    &-item {
      min-height: 100px;
      width: 50%;
      transition: all 0.3s ease-in;
      color: darken($color-primary-light, 30%);

      div {
        min-height: 30px;

        &[data-is-empty="true"] {
          background-color: $color-primary;
        }
      }

      .original:focus,
      .interpretation:focus {
        color: $color-primary-light;
        outline: none;
      }

      &:last-child {
        margin-left: 20px;
      }
    }
  }
}

.measuringbar {
  display: block;
}

/* text measuring when writing in paragraph */
.text-default {
  font-size: 0.5em;
  text-align: right;
  padding-right: 5px;
  border-top: 2px solid $color-primary-light;
  color: $color-primary-light;
  width: 0px;
  display: inline-block;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  height: 100%;
}

.text-ok {
  @extend .text-default;
  border-right-color: $color-primary-light;
  color: $color-primary-light;
}

.text-warning {
  @extend .text-default;
  border-right-color: rgba($color-warning, 1);
  color: rgba($color-warning, 1);
}

.text-danger {
  @extend .text-warning;
  border-right-color: rgba($color-alert, 1);
  color: rgba($color-alert, 1);
}

.mt-paragraph-intro {
  &__container {
    text-align: center;
  }

  &__action-bar {
    display: flex;
    justify-content: center;
    margin: $default-spacing 0;
  }
}
