.mt-published {
  &__header {
    margin: $default-margin 0;
    text-align: center;
    text-transform: capitalize;
    font-size: $font-size-header1;
    margin: 1em auto;
    font-weight: 600;

    &-sub {
      text-transform: uppercase;
    }
  }
  .published-header {
    text-align: center;
    text-transform: capitalize;
    font-size: $font-size-header1;
    margin: 1em auto;
    font-weight: 600;

    div {
      font-size: $font-size-small1;
      font-weight: 100;
    }
  }
}
