.mt-receipt {
    &-container {
        background-color: #fff;
        color: $color-primary;
        font-size: $font-size-small;
        max-width: 400px;
        margin: (3 * $default-spacing) auto 0;
        box-shadow: 0 0 3px silver;
    }

    &__header {
        padding: $default-spacing;
        padding-bottom: 0;
    }

    &__info {
        display: flex;
        margin: $default-spacing 0;

        &-container {
            padding: $default-spacing;
            padding-top: 0;

            h1 {
                line-height: 1em;
            }
        }

        &-text {
            margin-top: $default-spacing;
            color: $color-secondary-light;

            a {
                color: $color-accent;
            }
        }
    }

    &__title {
        font-size: 22px;

        &-container {
            margin: $default-spacing 0;
            margin-bottom: 2 * $default-spacing;
        }
    }

    &__payment-info {
        width: 100%;
        td:first-child {
            width: 30%;
        }
        td:last-child {
            text-align: right;
        }
    }

    &__language-label {
        text-transform: uppercase;
        margin-right: $default-spacing;
        margin-bottom: $default-spacing / 2;
        border: 1px solid $color-primary;
        padding: $default-spacing / 4;
        border-radius: 3px;
        display: inline-block;
        font-size: $font-size-small / 1.5;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: $default-spacing * 2 0 $default-spacing;
        background-color: $color-accent;
        color: $color-primary-light;
        height: 2 * $default-spacing;
        border-radius: 0;
    }
}
