.mt-search {

    &__input {
        width: 100%;
        background-color: transparent;
        color: $color-primary-light;
        font-size: $default-font-size;
        border: none;
        border-bottom: 1px solid $color-primary-light;
        outline: none;

        @media(min-width: $tablet-size) {
          font-size: $font-article-title;
        }

        &-container {
            margin-bottom: $default-spacing;
        }
    }

    &__results {
        &-container {
            margin: $default-spacing 0;
        }

        &-title {
            text-align: right;
            font-style: italic;
            border-bottom: 1px solid $color-primary;
            color: $color-primary;
            margin-bottom: $default-spacing;
        }
    }
}
