@mixin basicButton {
    text-transform: uppercase;
    color: $color-primary-light;
    font-weight: 500;
    padding: $default-spacing/2 $default-spacing;
    display: block;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.mt {
    &-shared {
        /**
     * html input element
     */
        &__input {
            margin-bottom: $default-spacing * 2;

            label {
                text-transform: uppercase;
                color: $color-primary;
                display: block;
                text-align: left;
                font-size: 0.6em;
            }
            input {
                padding: 0;
                border: none;
                color: $color-primary-dark;
                border-bottom: 2px solid $color-divider-1;
                display: block;
                width: 100%;
                margin-top: ($default-spacing / 2);
                font-size: $default-font-size;
                outline: none;
                border-radius: 0;
                margin-top: $default-spacing/2;

                &:active,
                &:focus {
                    border-bottom: 2px solid $color-accent;
                }
            }
        }

        &__button {
            @include basicButton();

            &[data-type="link"] {
                @include basicButton();
                font-weight: 400;
                font-size: 0.75em;
                border: none;
                padding: 0;
                color: rgba($color-primary-dark, 0.7);

                &:hover {
                    color: $color-primary-light;
                }

                &:active {
                    color: $color-primary-dark;
                    background-color: $color-primary-light;
                }
            }

            &[data-type="small"] {
                font-weight: 400;
                font-size: 0.75em;
                color: $color-primary;
                border: 1px solid $color-primary;

                &:hover {
                    color: $color-primary-light;
                }

                &:active {
                    color: $color-primary-dark;
                    background-color: $color-primary-light;
                }
            }

            &[data-type="hot"] {
                @include basicButton();
                background-color: $color-accent-2;
                background: linear-gradient(
                    0deg,
                    lighten($color-accent-2, 5%),
                    #fa9b1e
                );
                padding: $default-spacing * 1.2 0;
                font-size: 1.05em;
                box-shadow: 1px 1px 3px darken($color-accent-2, 50%);
                transition: transform 0.1s;
                border-radius: 40px;

                &:hover {
                    transform: scale(1.02);
                }

                &:active {
                    // border: inset 1px $color-accent-2;
                    box-shadow: inset -1px -1px 10px
                        darken($color-accent-2, 10%);
                    background: linear-gradient($color-accent-2, #fa9b1e);
                }
            }

            &-primary,
            &[data-type="primary"] {
                @include basicButton();

                background-color: $color-accent;
                color: $color-secondary; // $color-accent-dark;
                border-radius: 1px;
                font-weight: 600;
                border-color: saturate($color-accent, 10%);
                text-align: center;
                transition: all 0.25s ease-in;
                padding: $default-spacing;
                letter-spacing: 0.025em;
                box-shadow: $special-shadow;
                border-radius: 3px;

                &:hover {
                    background-color: lighten($color-accent, 5%);
                }

                &:active {
                    color: $color-accent-dark;
                    background-color: darken($color-accent, 15%);
                }
            }

            &-secondary,
            &[data-type="secondary"] {
                @include basicButton();
                width: 100%;
                color: $color-secondary-dark;
                border: none;
                font-size: $font-size-small;
                transition: all 0.25s ease-in;

                &:hover {
                    font-weight: 800;
                }

                &:active {
                    color: darken($color-primary-dark, 10%);
                    background-color: darken($color-primary-light, 15%);
                }
            }
        }

        &-select {
            border-bottom: 1px solid $color-primary-light;
            border-radius: 0;
            color: $color-primary-light;
        }

        &__internal-card {
            @media (min-width: $tablet-size) {
                width: 49%;
                h4 {
                    font-size: $font-article-title;
                }

                h5 {
                    font-size: $font-article-title * 0.55;
                }
            }

            border: 1px solid $color-primary;
            overflow: hidden;
            word-wrap: break-word;
            margin-bottom: $default-spacing;
            border-radius: 5px;
            transition: color 0.5s ease-in;
            padding: $default-spacing;

            &:hover {
                border: 1px solid lighten($color-primary, 5%);
                h4,
                h5 {
                    color: $color-primary-light;
                }
            }

            h1 {
                @include header-defaults;
                font-family: $font-section-header-1;
                font-size: $font-article-title-phone;
                letter-spacing: -2px;
                font-weight: 400;
                color: $color-primary-light;
            }

            h4 {
                font-weight: 600;
                font-size: $font-article-title-phone;
                overflow: hidden;
                font-family: Georgia;
                line-height: 1.1em;
                margin: $default-margin 0;
                color: darken($color-primary-light, 1%);
            }

            h5 {
                margin: 0;
                font-family: $font-section-header-1;
                font-weight: 100;
                font-size: $font-article-title * 0.55;
                color: darken($color-primary-light, 1%);
            }

            a {
                text-decoration: none;
            }
        }
    }
}

.language-info {
    text-align: center;

    .label {
        @include label();
    }

    span {
        border: 1px solid $color-primary-light;
        border-radius: 30px;
        text-transform: uppercase;
        font-size: $font-size-extra-small;
        padding: $default-spacing / 4 $default-spacing / 2;
    }
}

.mt-label {
    &__container {
        text-align: right;
        margin-bottom: $default-spacing;
    }
    &__language {
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        color: $color-primary-dark;
        font-size: $font-size-small;
    }
}

.mt-cta-button {
    // background-color: $color-accent;
    background-color: transparent;
    border: 1px solid $color-accent;
    color: $color-accent;
    font-weight: 600;
    padding: ($default-spacing / 2) $default-spacing;
    text-decoration: none;
    text-transform: uppercase;
    font-size: $font-body-size;
    cursor: pointer;
    letter-spacing: 0.2em;
    border-radius: 3px;
    transition: background 250ms ease-in-out, color 250ms ease-in-out;

    &:hover {
        background-color: $color-accent;
        color: $color-accent-contrast-light;
    }
}

.mt-icon-button {
    display: flex;
    align-items: center;

    .material-icons {
        line-height: 0.75;
        margin-right: $default-spacing;
    }
}

.mt-loader {
    $black: #212121;
    $white: #eee;

    // scaling... any units
    $width: 100px;

    // demo-specific
    .showbox {
        // position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5%;
    }
    // end demo-specific

    .loader {
        position: relative;
        margin: 0 auto;
        width: $width;
        &:before {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }

    .circular {
        animation: rotate 2s linear infinite;
        height: 100%;
        transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        stroke-linecap: round;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes dash {
        0% {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
        }
        50% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35px;
        }
        100% {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -124px;
        }
    }

    @keyframes color {
        100%,
        0% {
            stroke: $black;
        }
        66% {
            stroke: $white;
        }
    }
}

.pulse {
    display: inline-block;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    text-align: center;
    background-color: $color-accent;
    box-shadow: 0 0 0 10px rgba($color-accent, 1),
        0 0 0 20px rgba($color-accent, 0.5);
    // animation: sploosh 2.5s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
    animation: sploosh 3s ease-in-out 2s infinite;
    cursor: pointer;
}

@keyframes sploosh {
    0% {
        box-shadow: 0 0 0 0px rgba($color-accent, 0.7);
        background: rgba($color-accent, 0.7);
    }
    80% {
        background: rgba($color-accent, 0);
    }
    100% {
        box-shadow: 0 0 0 20px rgba($color-accent, 0);
    }
}

@keyframes vibrate {
    0% {
        transform: scale(1);
    }
    93% {
        transform: scale(1);
    }
    96% {
        transform: scale(1.2);
    }
    97% {
        transform: scale(1.1);
    }
    98% {
        transform: scale(0.8);
    }
    99% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* react fade animation */

.fade {
    $transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    $xTranslation: 10px;
    $transform: scale(0.95);
    $transform-big: scale(1.01);
    &-enter {
        opacity: 0.01;
        transform: $transform;

        &-active {
            opacity: 0.01;
        }

        &-done {
            opacity: 1;
            transition: $transition;
        }
    }

    &-exit {
        opacity: 0.01;
        transform: $transform;

        &-active {
            opacity: 0.01;
        }

        &-done {
            opacity: 1;
            transition: $transition;
        }
    }
}

.fade-big {
    $transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    $xTranslation: 10px;
    $initial-visibility: 0.05;
    $scale-small: 0.99;
    &-enter {
        opacity: $initial-visibility;
        transform: scale($scale-small);

        &-active {
            opacity: $initial-visibility;
            transition: $transition;
        }

        &-done {
            opacity: 1;
            transition: $transition;
        }
    }

    &-exit {
        opacity: $initial-visibility;
        transform: scale($scale-small);
        &-active {
            opacity: $initial-visibility;
            transition: $transition;
        }

        &-done {
            opacity: 1;
            transition: $transition;
        }
    }
}
