.mt-story {
    margin-top: $spacer-height;

    &__header {
        &-container {

            @media (min-width:$tablet-size) {
                display: flex;
            }
        }

        &-img-container {
            margin-right: $default-spacing;

            img {
                background-size: cover;
                max-width: 100%;

                @media (min-width: $tablet-size) {
                    height: auto;

                }
            }
        }

        &-title-container {
            h1 {
                margin-top: 0;
            }
        }

        &-app-store {
            margin: $default-spacing 0;

            @media(max-width: $phone-size) {
                text-align: center;
            }
        }
    }

    &__content {

        &-item {
            margin-right: $default-spacing;
            margin-bottom: $default-spacing * 2;

            @media (min-width: $tablet-size) {
                display: flex;
            }
        }

        &-language {
            width: 100%;
        }

        &-description {
            @media(min-width: $tablet-size) {
                margin-right: $default-spacing;
                width: 60%;
            }
        }

        &-notes {
            @media(min-width: $tablet-size) {
                width: 40%;
            }
        }
    }
}
