@import "./fonts";
@import "./colors";
/*
 * This size fits better with twitter bootstrap.
 *
 */
$document-height: (600px * 0.8);
$document-width: (350px * 0.8);
$document-height-small: $document-height / 2;
$document-width-small: $document-width / 2;
$spacer-height: 40px;
$document-padding: 10px;
$document-margin: 10px;

/** screen sizes **/
$screen-size-small: 320px;
$screen-size: 480px;
$screen-size-medium: 768px;
$screen-size-large: 960px;
$phone-size: $screen-size-small;
$tablet-size: $screen-size-medium;
$desktop-size: $screen-size-large;

$unit: 16px;
$default-spacing: $unit;
$default-padding: $default-spacing;
$default-margin: $default-spacing;

$default-shadow: 0 0 6px $color-divider-1;
$default-shadow-2: 0 0 6px darken($color-divider-1, 50%);
$special-shadow: 1px 1px 0 $color-shadow-primary;

$default-radius: 3px;
