@import "./colors";
@import "./fonts";
@import "./variables";

.AuthorPromo1 {
    max-width: calc(300px + (2 * #{$unit})); /* based on the book covers*/

    &-container {
        flex: 2;
        display: flex;
        justify-content: center;
        align-self: center;
        padding: $unit * 2;
    }

    section {
        padding-bottom: $unit;
        margin-bottom: 0;
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, 100px);
            grid-gap: $unit/ 2;
            margin: 0;
            padding: 0;
            width: 100%;
        }
        li {
            display: inline-block;
            overflow: hidden;
            text-align: center;
            margin-bottom: $unit/2;

            img {
                width: 100px;
                height: 153px; /* fixed for book covers*/
            }
        }
    }

    p {
        color: $color-secondary-light;
        font-size: $font-size-small1;
        // font-size: $font-size-header2;
        line-height: 1.1em;
        margin: 0;

        a {
            border-bottom: $unit / 4 solid $color-accent;
            color: darken($color-secondary-light, 1%);
            font-weight: 600;
            text-decoration: none;
        }
    }
}
