@import "./colors";
@import "./fonts";
@import "./variables";

.AuthorHeader {
    display: flex;
    flex-wrap: wrap;
    font-family: $font-family-heading;
    &-container {
        border-bottom: 1px solid $color-primary;
        position: fixed;
        top: 0;
        width: 100vw;
        background-color: $color-secondary;
        z-index: 100;
    }

    &-logo {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $unit / 2;
    }

    nav {
        width: 100vw;
        display: flex;
    }

    a {
        height: 2 * $unit;
        margin-left: $unit;
        text-decoration: none;
    }
}
