@import "./colors";
@import "./fonts";
@import "./variables";

.AuthorLandingPage {
    margin-bottom: $unit * 10;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: $unit * 2;

    &--promo {
        grid-column: 1 / span 2;
        width: 90%;

        @media (max-width: 600px) {
            grid-column: 1 / -1;
            width: 100%;
            margin: $unit auto;
        }
    }

    .card {
        grid-column-end: -1;
        background-color: $color-secondary;
        padding: $unit;

        @media (max-width: 600px) {
            grid-column: 1 / -1;
        }
    }

    &--write {
        grid-column-start: 1;

        @media (max-width: 600px) {
            grid-column: 1 / -1;
        }
    }

    &--translation {
        grid-column-end: -1;

        @media (max-width: 600px) {
            grid-column: 1 / -1;
        }
    }

    &--editor {
        grid-column: 1 / -1;
        width: 100%;
    }
}

.AuthorFooter {
    height: 10 * $unit;
    width: 100%;
    margin-top: $unit * 4;
    padding-top: $unit;
    border-top: 1px solid $color-primary;

    nav {
        margin: 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: block;
        margin: 0;
        padding: 0;
        width: initial;
        height: $unit * 3;
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
        }
    }
}
