/**
 * The main page for a selected book where the user
 * can read everything they need to know to make the purchase
**/

@import "./colors";
@import "./fonts";
@import "./variables";
.mt-book-page {
    &__container {
        margin: ($default-spacing * 2) auto 0;

        @media (min-width: $tablet-size) {
            max-width: 800px;
            background-color: $color-secondary;
            box-shadow: $default-shadow;
            min-height: 90%;
        }

        .mt-label__container {
            text-align: left;
            @media (min-width: $tablet-size) {
                padding: $default-spacing $default-spacing 0;
            }
            // margin-bottom: $default-spacing;
        }
    }
    &__header {
        // The main container holding the header
        &-container {
            display: initial; // ensures the both cells are spaced evenly on the page
            // in larger tablet view plus
            @media (min-width: $tablet-size) {
                display: flex;
                flex-wrap: nowrap;
                padding: 0 $default-spacing;
                div {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: auto;
                }
            }
        }
        &-info {
            @media (min-width: $tablet-size) {
                width: initial;
            }
            &-container {
                margin: $default-spacing 0;
                @media (min-width: $tablet-size) {
                    max-width: 65%;
                    margin: 0;
                }
            }
            h1 {
                margin: 0;
                word-break: break-word;
                hyphens: auto;
                overflow-x: scroll;
                font-family: $font-main-header;
            }
            h2 {
                margin: 0;
                word-break: break-word;
                hyphens: auto;
                overflow-x: scroll;
                font-family: $font-main-header;
            }
        }
        &-action {
            display: flex;
            align-items: center;
            flex-direction: column;

            @media (min-width: $tablet-size) {
                width: 35%;
                max-width: 35%;
                padding: $default-spacing;
                padding-top: 0;
            }
            &-price {
                padding: $default-spacing;
                color: $color-primary;
                display: block;

                .owns-it {
                    text-decoration: line-through;
                    color: $color-primary;
                }
            }

            &-free {
                display: block;
                border: 1px solid $color-primary;
                text-decoration: none;
                padding: $unit / 2;
                margin-top: $unit / 2;
                border-radius: 3px;
                font-size: $font-size-small;
                text-align: center;
            }
        }
    }
    &__info {
        @media (min-width: $tablet-size) {
            padding: $default-spacing;
            background-color: $color-primary-light;
            display: flex;
            justify-content: space-between;
        }
        &-header {
            display: flex;
            margin-top: $default-spacing * 2;
            margin-bottom: $default-spacing;
            text-transform: uppercase;
            font-size: $font-size-small;
            color: $color-primary-dark;
            font-family: "Helvetica";

            &-intro {
                &::before {
                    content: "-";
                    color: transparent;
                }
            }
        }
        &-item {
            color: $color-primary;
            font-family: $font-body;
            cursor: pointer;
            &-note {
                margin-top: $default-spacing;
            }
        }
    }

    &__stats {
        margin-top: $default-spacing * 4;

        padding: 0;
        padding-top: $default-spacing;
        display: flex;
        flex-direction: column;

        @media (min-width: $tablet-size) {
            background-color: $color-primary-light;
            flex-direction: row;
        }

        &-item {
            display: inline-block;
            margin-right: $default-spacing;
            // border: 1px solid $color-divider-1;
            padding: $default-spacing;

            &-value {
                font-size: $default-font-size;
                font-family: $font-main-header;
                text-align: center;
            }

            &-label {
                font-size: $font-size-small;
                text-align: center;
                display: inline-block;
                width: 100%;
            }
        }
    }
}

.mt-preview {
    &__container {
        padding: $default-spacing;
    }

    &__text {
        &-container {
            display: flex;
            justify-content: space-between;
        }
        max-height: 300px;
        width: 48%;
        overflow-y: scroll;

        margin-top: $default-spacing;
        border: 1px solid $color-primary;
        border-radius: 4px;
        padding: $default-spacing;

        p {
            cursor: pointer;
            font-size: 0.5em;
            color: $color-primary;

            &:hover {
                color: $color-accent;
            }
        }
    }
}
