/**
 * The main page for a selected book where the user
 * can read everything they need to know to make the purchase
**/

@import "./colors";
@import "./fonts";
@import "./variables";

.mt-book {
    overflow: hidden;
    padding: $default-spacing $default-spacing * 2;
    margin: 0 auto;
    margin-bottom: $default-spacing;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__container {
        height: 100%;
        width: 290px;
        background-color: $color-secondary;
        text-decoration: none;
        cursor: pointer;
        margin: 0 auto;
        box-shadow: 0 0 3px $color-shadow-primary;

        @media (min-width: $tablet-size) {
            width: 320px;
        }
    }

    &__cover {
        text-align: center;
        margin: $default-spacing 0;
        flex: 1 1 50%;
        min-height: 195px;

        @media (min-width: $tablet-size) {
            margin: 0 auto;
            max-width: 225px;
        }

        div {
            width: 125px;
            height: 195px;
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            border-radius: 3px;
            transition: transform 0.5s, box-shadow 0.5s;
        }
    }

    .mt-label__container {
        margin-top: $default-spacing;
        text-align: left;
    }

    .mt-label__language {
        span {
            color: $color-secondary-light;
        }
    }
    &__instance {
        display: block;
        overflow: hidden;
        word-wrap: break-word;
        color: $color-primary;
        font-weight: 900;
        font-family: "Work Sans", sans-serif;

        &-0 {
            @extend .mt-book__instance;
            margin-bottom: $default-spacing;
        }
        &-1 {
            @extend .mt-book__instance;
        }
    }
    &__text {
        &-container {
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            flex-flow: column-reverse;
            justify-content: flex-end;
            font-family: Geogia, Times, serif;
            font-weight: 100;
            height: 60%;
            font-size: $font-article-title / 2;
        }
    }
    &__info {
        &-container {
            color: $color-primary;
            border-top: 1px solid $color-divider-1;
            padding-top: $default-spacing / 2;
        }

        &-published {
            font-size: 0.65em;
            color: $color-primary-dark;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
            &-title {
                font-size: 0.75em;
                text-transform: uppercase;
            }
        }

        &-author {
            justify-content: center;
            align-items: left;
            font-family: "Work Sans", sans-serif;
            font-weight: 900;
            margin-bottom: $default-spacing;

            &-title {
                font-size: 0.55em;
                font-weight: 400;
                font-family: "Helvetica", sans-serif;
                text-transform: uppercase;
                color: $color-secondary-light;
            }
        }
    }

    &__action {
        &-container {
            text-transform: uppercase;
            font-size: 0.75em;
            display: flex;
            justify-content: space-between;
            color: $color-secondary-light;
        }
    }
}
