@import "./colors";
@import "./fonts";
@import "./variables";

.mt-checkout {
    &__form {
        background-color: $color-secondary;
        padding: $default-spacing;
        box-shadow: $default-shadow;
        max-width: 400px;
        margin: 0 auto;

        h1 {
            text-align: right;
            color: lighten($color-secondary-light, 25%);
        }
    }

    &__items-container {
        border-bottom: 1px solid $color-divider-1;
        padding-bottom: $default-spacing;
        margin-bottom: $default-spacing * 2;
    }

    &__book-title {
        color: $color-secondary-light;
    }

    &__total {
        text-align: right;
        color: $color-primary;
        font-weight: 800;
        margin-top: $default-spacing;
    }

    &__card {
        &-container {
            & > div {
                margin-top: $default-spacing * 2;
                label {
                    font-size: $font-size-small;
                    color: $color-secondary-dark;
                }
            }

            #cc_name,
            #cc_number,
            #cc_expiration,
            #cc_cvc {
                margin-top: $default-spacing / 4;
                box-sizing: border-box;
                width: 100%;
                padding-top: $unit / 2;
                border-bottom: 1px solid $color-divider-1;
                font-size: $font-size-default;
            }
        }
    }

    &__action {
        &-container {
            margin-top: $default-spacing * 2;
        }
    }

    &__success {
        &-container {
            background-color: $color-secondary;
            padding: $default-spacing * 2;
            box-shadow: $default-shadow;
            max-width: 600px;
            margin: $default-spacing auto;

            h1 {
                text-align: center;
            }
        }

        &-card {
            background-color: $color-accent;
            max-width: 320px;
            min-height: 200px;
            margin: $default-spacing auto;
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: $default-spacing;

            a {
                display: block;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                color: $color-primary-light;
            }

            &-titles {
                font-size: $default-font-size;
                color: $color-primary;
                padding: $default-spacing;

                label {
                    text-transform: uppercase;
                }
            }
        }

        &-info {
            margin-top: $default-spacing * 2;
            color: $color-secondary-light;

            a {
                color: $color-accent;
            }
        }
    }

    &__cancel-container {
        margin-top: $default-spacing;
        text-align: center;
        button {
            background-color: $color-primary-light;
        }
    }
}

/*
Special styling for name field for creditcard
*/

#cc_name {
    border-radius: 0;
    padding: 0;
    margin: 0;
}
