@import "./colors";
@import "./fonts";
@import "./variables";

.mt-drawer {
    max-width: 320px;
    width: 320px;
    background-color: lighten($color-secondary-light, 27%);
    padding: $default-spacing/ 2 $default-spacing;
    height: 100vh;
    box-shadow: 1px 0 3px 1px darken($color-divider-1, 50%); //#155133;
    // box-shadow: $default-shadow;
    &__container {
        position: absolute;
        width: 320px;
        height: 100vh;
        top: 0px;
        left: -330px;
        z-index: 100;
    }
    /**
     * The header of the drawer component
     * showing logo and close button
     **/
    &__header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-divider-1;
        padding-bottom: $default-spacing;

        svg {
            g {
                fill: $color-primary;
            }
        }

        button {
            i.material-icons {
                color: $color-primary;
            }
        }
    }
    &__buttons-container {
        margin-top: $default-spacing;

        hr {
            border-color: $color-divider-1;
        }
    }
    &__button {
        @extend button;
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: $default-spacing / 2;
        outline: none;
        padding: $unit / 2 0;
        background-color: transparent;
        color: $color-primary;
        text-decoration: none;
        text-transform: capitalize;
        font-size: $font-size-small;
        border-bottom: $unit / 4 solid transparent;
        transition: border 0.25s;

        &:hover {
            border-bottom: $unit / 4 solid $color-accent;
        }
    }
}
