@import "./colors";
@import "./fonts";
@import "./variables";

.mt-password-reset {
    max-width: 40 * $unit;
    width: 100%;
    align-self: center;

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    h1 {
        margin: 0 0 $unit 0;
    }

    form {
        margin-top: $unit * 2;
    }

    label {
        display: block;
        margin-bottom: $unit * 2;

        span {
            display: block;
            font-size: 0.75em;
        }

        input {
            border-bottom: 1px solid $color-primary;
            font-size: 2em;
            width: 100%;
        }
    }

    &__action {
        &-container {
            margin-top: $unit * 4;
        }

        &-secondary {
            margin-top: $unit;
        }
    }
}

.mt-password-requested {
    max-width: 40 * $unit;
    align-self: center;
    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
}
