@import "./colors";
@import "./fonts";
@import "./variables";

//font overrides
$font-weight: 600;
$width-stack: 566px; // the width at which certain elements start stacking

/**
 * Generic link button used in multiple areas 
 * of this landing page
 */
.link-button {
    height: 44px;
    background-color: $color-accent;
    padding: $default-spacing;
    text-decoration: none;
    color: $color-secondary;
    font-weight: 800;
    text-transform: uppercase;
    margin: $default-spacing auto;
    display: flex;
    width: 90%;
    max-width: 250px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/**
 * The overall style for this landing page
 */
.mt-landing {
    max-width: 1000px;
    margin: 0 auto 10 * $unit;

    h1,
    h2,
    h3 {
        font-size: $font-article-title;
        font-weight: normal;
        font-family: $font-family-body;
        color: rgba($color-primary, 0.75);
        margin: 0;
        padding: 0;
        line-height: 1.25em;
    }

    h1 div {
        border-bottom: $unit / 4 solid $color-accent;
        display: inline-block;
        font-weight: $font-weight;
    }

    p {
        line-height: 1.5em;
    }

    section {
        margin-bottom: $default-spacing * 3;
    }

    &__intro {
        position: relative;
        min-height: 200px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: $unit;

        img {
            grid-column: 1 / -1;
            margin-bottom: $unit * 4;

            @media (max-width: $width-stack) {
                margin-bottom: $unit * 2;
            }
        }

        article {
            grid-column: 1 / span 1;

            @media (max-width: 967px) {
                h1,
                p {
                    font-size: 1em;
                }
            }

            @media (max-width: $width-stack) {
                h1,
                p {
                    font-size: 0.75em;
                }

                grid-column: 1 / -1;
            }

            @media (max-width: 320px) {
                p {
                    font-size: 0.5em;
                }
            }
        }

        @media (max-width: 900px) {
            & > img {
                width: 75%;
            }
        }

        &-video {
            text-align: center;

            @media (max-width: $width-stack) {
                grid-column: 1 / -1;
            }

            video {
                max-width: 222px;
                text-align: center;
                display: inline-block;
                border: $unit/4 solid $color-primary;
                border-radius: $unit;
                // box-shadow: $unit (0) (0) $color-accent,
                //     ($unit * 2) (0) (0) $color-primary;
            }
        }
    }

    &__section {
        background-color: transparent;
        &-2 {
            &-text {
                p {
                    color: rgba($color-secondary-light, 1);
                    font-family: $font-family-body;
                    strong {
                        font-weight: $font-weight;
                    }
                    em {
                        font-style: normal;
                    }
                }

                @media (min-width: 600px) {
                    p {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

    &__button-bookshop {
        @extend .link-button;
        margin-bottom: $default-spacing;
    }

    &__last-cta {
        &-container {
            text-align: center;
        }
        @extend .link-button;
    }
}

.mt-install-button {
    &__container {
        display: flex;
        margin-bottom: $unit * 8;

        @media (max-width: 600px) {
            flex-direction: column;
        }

        button {
            background-color: $color-primary;
            width: $unit * 10;
            justify-self: center;
            align-self: center;
            font-size: $font-size-default;
            color: $color-secondary;
            padding: $unit $unit * 2;
            margin-left: $unit * 2;
            font-weight: 600;
            border-radius: $unit / 2;

            @media (max-width: 600px) {
                margin: 0;
            }
        }
    }
}

.mt-toggle {
    position: relative;
    min-height: $unit * 5;

    @media (max-width: $width-stack) {
        min-height: $unit * 6;
    }

    &-text {
        position: absolute;
        top: 0;
        opacity: 0;
        transition: opacity 0.25s, transform 0.35s;
        cursor: pointer;
        transform: scale(0.85);

        small {
            margin-top: $default-spacing;
            line-height: 1em;
        }

        &.true {
            opacity: 1;
            transform: scale(1);
        }
    }
}

@keyframes fadeIn {
    0% {
        transform: scale(0.85);
    }

    90% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.EditorLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
