@import "./colors";
@import "./fonts";
@import "./variables";

.mt-library {
    &__container {
        margin-top: $default-spacing;
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        grid-auto-rows: 300px;
        @media (min-width: $screen-size) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: $tablet-size) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: $desktop-size) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &__header {
        text-align: center;
    }
    &__item {
        margin-bottom: $default-spacing; // border: 1px solid $color-primary;
        background-color: $color-secondary;
        padding: $default-spacing;
        font-size: 0.75em;
        overflow: hidden;
        border-radius: 1px;
        box-shadow: 0 0 6px $color-divider-1;
        &-info {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            padding-top: $default-spacing / 2;
            font-family: Geogia, Times, serif;
            font-size: $font-article-title / 2;
        }
    }

    &__empty-container {
        text-align: center;
    }
}
