@import "./colors";
@import "./fonts";
@import "./variables";

// nav with all the options
.LoggedInOptions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $unit / 2;
    border: $unit / 2 solid $color-accent;
    background-color: $color-accent;
    margin: 5 * $unit 0;
    border-radius: $unit / 2;

    a {
        color: $color-accent;
        text-decoration: none;
        background-color: $color-secondary;
        height: 15 * $unit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: $unit / 2;

        @media (max-width: 800px) {
            & {
                grid-column: 1 / -1;
            }
        }

        &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            background-color: $color-accent;
            bottom: $unit / 2;
            transition: height 0.25s, width 0.25s;
            border-radius: $unit / 2;
        }
        &:hover {
            &::after {
                height: $unit / 2;
                width: 50%;
            }
        }

        img {
            width: 5 * $unit;
            fill: $color-accent;
        }

        h1 {
            color: $color-accent;
            font-family: $font-family-heading;
            text-align: center;
        }

        label {
            text-transform: none;
            font-size: $font-size-small;
            transition: color 0.3s;
            cursor: pointer;
            color: $color-primary;
        }
    }
}
