@import "./variables";
.mt-login {
    display: flex;
    height: 100%;

    $break-point-1: 650px;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: $default-spacing * 50;
        margin: 0 auto;
    }

    @media (max-width: $break-point-1) {
        flex-direction: column;
    }

    &__text {
        font-size: $font-size-header1 * 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-right: $default-spacing;

        @media (max-width: $break-point-1) {
            width: 100%;
            margin-right: 0;
            font-size: 1rem;
        }
    }

    &-form {
        width: 50%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $break-point-1) {
            width: 100%;
            height: initial;
            flex-direction: column;
            margin-top: 2 * $default-spacing;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;

            div:last-child {
                text-align: center;
            }

            label {
                text-transform: capitalize;
                color: $color-secondary-light;
                margin-bottom: $unit * 2;

                div:first-child {
                    margin-bottom: $unit;
                }

                input {
                    border-bottom: 1px solid $color-primary;
                    border-radius: 0;
                    width: 100%;
                    padding: 0;
                    font-size: $font-size-header1;
                }
            }

            .mt-shared__input input {
                border-bottom: 1px solid $color-secondary-light;
            }

            button {
                background-color: $color-accent;
                color: transparentize($color-secondary, 0.25);
                border-radius: 0;
                text-transform: capitalize;
                font-size: 1.2rem;
            }
        }

        &__alternative {
            width: 100%;
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            p {
                color: $color-secondary-light;
            }

            a {
                display: inline-block;
            }

            @media (max-width: $break-point-1) {
                position: initial;
                margin-top: 2 * $default-spacing;

                a {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
