@import "./colors";
@import "./fonts";
@import "./variables";

@mixin tos() {
    display: flex;
    font-size: $default-font-size;
    position: relative;
    flex-direction: column;

    &:active,
    &:focus {
        // border: 1px solid $color-accent;
        outline: 1px solid $color-accent;
    }

    /* 
        * Don't show the actual input element
        * instead put a box on the label which can be styled. 
        * this makes the input box look better and more user friendly
        */

    & > div {
        position: relative;
        margin-top: $unit;

        & + input:focus {
            border: 1px solid $color-accent;
        }
    }
    input {
        display: inline-block;
        padding: 0;
        opacity: 0;
        position: relative;

        & + label {
            width: calc(100% - #{$unit * 4});
            margin-left: $unit * 2;
        }

        &:focus + label {
            color: $color-accent;
            a {
                color: $color-accent;
            }
        }

        & ~ svg {
            opacity: 0;
            transition: opacity 0.3s;
            width: $unit * 2;
            position: absolute;
            left: 0;
            top: -$unit/2;
            transform: rotate(-8deg);
        }

        // checkbox style unchecked
        & + label::before {
            content: "";
            display: inline-block;
            width: $unit * 1.5;
            height: $unit * 1.5;
            position: absolute;
            visibility: visible;
            top: 0;
            left: 0;
            transition: all 0.3s;
            border: $unit / 4 solid rgba($color-primary, 0.5);
        }

        // Checkbox style once checked
        &:checked + label::before {
            content: "";
            border: 0;
        }

        &:checked ~ svg {
            opacity: 1;
        }
    }

    label {
        font-size: 0.65em;
        text-transform: initial;
        text-align: left;
        display: inline-block;
        color: rgba($color-primary, 0.5);

        @media (max-width: 320px) {
            & {
                font-size: 0.62em;
            }
        }
    }

    a {
        color: rgba($color-primary, 0.5);
    }
}

.mt-lpsignup {
    border: $unit / 2 solid $color-secondary;
    position: relative;
    box-sizing: border-box;
    margin-bottom: $unit * 4;
    display: flex;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    &__form-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: $color-secondary;
        padding: $unit;
        min-height: 30 * $unit;
    }

    &__form {
        margin-top: $unit * 2;
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    article {
        h2 {
            font-size: 1.7em;
            color: $color-secondary;
        }
        p {
            color: $color-secondary;
        }
        margin-bottom: $default-spacing * 3;

        @media (min-width: 800px) {
            width: 50%;
        }
    }

    &__input {
        label {
            display: block;
            color: rgba($color-primary, 0.5);
            margin-bottom: $unit;
            text-transform: capitalize;
        }

        input[type="email"] {
            width: 100%;
            box-sizing: border-box;
            color: $color-primary;
            border-radius: 1px;
            border-bottom: 1px solid $color-divider-1;
            padding-bottom: $unit/2;
            margin-bottom: $unit;

            &::placeholder {
                color: rgba($color-primary, 0.5);
            }

            &:focus {
                border-bottom-color: $color-accent;
            }
        }
    }

    &__tos {
        @include tos();
    }

    // primary action
    &__action {
        background-color: $color-accent;
        color: $color-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: $unit auto;
        height: 4 * $unit;
        text-decoration: none;
        font-weight: 600;
        text-transform: capitalize;

        // The alternative login link (or signup action)
        &-alternative {
            cursor: pointer;
            text-transform: capitalize;
            color: rgba($color-primary, 0.5);
            align-self: flex-end;
        }
    }
}

.mt-register {
    padding: $default-spacing 0;
    margin: $default-spacing;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: $tablet-size) {
        max-width: 1000px;
        margin: 0 auto;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    h1 {
        text-align: left;
        color: $color-primary-dark;
        font-weight: 600;
        font-size: 60px;
        font-family: $font-main-header;
    }

    // center the form container in the parent element
    &__container {
        display: flex;
        justify-content: center;
        align-content: center;

        & > div {
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;

            h1 {
                color: $color-primary;
                margin: 0;
            }
        }
    }

    &__title {
        font-size: $default-font-size;
        p {
            font-size: $default-font-size;
        }
    }

    &-form {
        & > fieldset {
            border-width: 0;
            border-bottom: 1px solid lighten($color-primary, 50%);
            margin-bottom: $unit * 2;
            padding: 0;

            label {
                font-size: 0.6em;
                text-transform: capitalize;
                position: relative;
                display: block;

                &:after {
                    content: "Required";
                    display: inline;
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: $color-primary;
                    opacity: 0.5;
                }
            }

            input {
                width: 100%;
                font-size: $default-font-size;
                margin-top: $unit;
            }
        }

        &__tos {
            @include tos();
            margin-bottom: $unit * 2;
        }

        &__container {
            padding-top: $default-spacing * 2;
            width: 100%;
            color: $color-secondary-light;

            @media (min-width: 768px) {
                margin-left: $default-spacing;
            }

            a {
                color: $color-primary;
            }

            @media (min-width: $tablet-size) {
                max-width: 450px;
                min-width: 300px;
            }
        }

        &__disclaimer {
            color: $color-secondary-light;
            font-size: 0.65em;
            letter-spacing: 0.015em;
            a {
                color: darken($color-secondary-light, 20%);
                text-decoration: underline;
            }
        }
        &__action {
            &-container {
                margin-top: $default-spacing;
                width: 100%;
            }

            &-prime {
                height: 4 * $unit;
                width: 100%;
                background-color: $color-accent;
                margin-bottom: $default-spacing;
                color: $color-secondary;
                font-weight: 600;
                font-size: $default-font-size;
                text-transform: capitalize;
                transition: scale 0.25s, box-shadow 0.1s;
                box-shadow: 0 0 0px 0px rgba($color-primary, 0.5);

                &:hover {
                    box-shadow: ($unit / 4) ($unit / 4) 0px 0px
                        rgba($color-primary, 0.5);
                }

                &:active {
                    transition: box-shadow 0s;
                    transform: scale(0.97);
                    box-shadow: none;
                }
            }
            &-extra {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;
                margin-top: $default-spacing;

                &-button {
                    border: 1px solid $color-primary;
                    padding: $default-spacing / 2;
                    text-decoration: none;
                    text-transform: capitalize;
                    font-size: 0.8em;
                    transition: scale 0.25s;

                    &:active {
                        transform: scale(0.9);
                    }
                }
            }
        }
    }
}

.mt-signup {
    fieldset {
        padding: 0;
        border: none;
        margin-bottom: $default-spacing;

        label {
            padding: 0;
            input {
                margin-top: $default-spacing / 2;
                display: block;
                border-bottom: 2px solid $color-primary;
                width: 100%;
            }
        }
    }
}
