@import './colors';
@import './fonts';
@import './variables';

.mt-lpsteps {
    &__container {
        background: linear-gradient(
                120deg,
                rgba(223, 237, 229, 0.5),
                rgba(242, 243, 242, 0.5)
            ),
            transparentize($color-accent, 0.75);
        position: relative;
        left: -$default-spacing;
        width: 100%;
        box-sizing: content-box;
        padding: $default-spacing * 3 $default-spacing;
        margin: $default-spacing * 3 0;
    }

    &__item {
        margin-bottom: $default-spacing * 4;
        &-header {
            justify-content: flex-start;
            margin-bottom: $default-spacing;
        }

        &-number {
            margin-right: $default-spacing;
            font-size: $font-size-header2;
            color: $color-accent;
            font-weight: 800;
            font-family: $font-main-header;
        }

        &-title {
            color: $color-accent;
            font-weight: 800;
            font-size: $font-size-header2;
            font-family: $font-main-header;
        }
        &-text {
            color: $color-primary;
            font-family: $font-body;
        }
    }
}
