@import "./colors";
@import "./fonts";
@import "./variables";

.mt-page {
    &__container {
        max-width: 750px;
        margin: 0 auto;
        display: block;
        padding: 3 * $default-spacing 0;

        p {
            font-size: $default-font-size;
            color: $color-primary;
            line-height: 1.65em;
            font-weight: normal;
            margin-bottom: $default-spacing * 4;
            font-family: $font-family-body;
        }

        a {
            color: $color-accent;
        }

        h1 {
            font-size: $font-article-title * 1.5;
            margin-bottom: 0.05em;
            margin-top: 0;
            margin-bottom: $unit * 2;
            line-height: 1;
            font-weight: normal;
        }

        h2 {
            font-size: $font-article-title / 1.2;
            font-family: $font-family-body;
            font-weight: normal;
            line-height: 1em;
            color: lighten($color-primary, $unit);
            margin-top: 0px;
            margin-bottom: $default-spacing * 2;
        }

        ul {
            margin: 0;
            padding: 0;
            margin-bottom: $unit * 2;

            li {
                list-style: none;
                display: inline-block;

                a {
                    text-decoration: none;
                }
            }

            li + li {
                margin-left: $unit;
            }
        }

        @media (min-width: $phone-size) {
            h2 {
                line-height: 1.2em;
            }
        }
    }
}
