@import "./colors";
@import "./fonts";
@import "./variables";

.mt-reader {
    &__container {
        max-width: $unit * 38;
        margin: 0 auto;
    }

    &__text-container {
        padding-top: 10 * $unit;
        max-width: $unit * 40;
        margin: 0 auto;

        p {
            font-size: $default-font-size;
            font-family: $font-family-body;
            line-height: 1.35em;
        }

        @media (min-width: 736px) {
            header h2 {
                font-size: 36px;
            }

            p {
                font-size: 30px;
                line-height: 1.5em;
            }
        }
    }
}

.mt-free-reader {
    height: 100vh;
    overflow-y: scroll;

    @media (max-width: $unit * 38) {
        padding: 0 $unit;
    }

    &__text-container {
        padding-top: 10 * $unit;
        max-width: $unit * 38;
        margin: 0 auto;
        height: 100%;

        p {
            font-size: $default-font-size;
            font-family: $font-family-body;
            line-height: 1.35em;
        }

        @media (min-width: 736px) {
            header h2 {
                font-size: 36px;
            }

            p {
                font-size: 30px;
                line-height: 1.5em;
            }
        }
    }

    &__header {
        height: 6 * $unit;
        background-color: $color-background;

        display: grid;
        grid-template-columns: repeat(1, 1fr) repeat(2, 4 * $unit);

        &-container {
            max-width: $unit * 38;
            margin: 0 auto;
            position: absolute;
            left: $unit;
            right: $unit;
        }

        &-content {
            margin-top: $unit;
        }

        h6 {
            margin: 0;
            font-weight: normal;
        }

        .material-icons {
            font-size: 4 * $unit;
        }

        &-langs {
            padding: $unit / 2;
            background-color: $color-primary;
            text-align: left;

            div:first-child {
                font-size: 1.5em;
                font-weight: 600;
            }
        }
    }
}
